<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BLPTW NuGet Server" value="http://blptw.ddns.net:5637/nuget" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="BLPTW NuGet Server">
      <package pattern="BLPTW.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>